.f1{
    color: rgb(160, 65, 248);
    text-align: center;
}
.f2{
    color: rgb(160, 65, 248);
    text-align: center;
}
.f3{
    color: rgb(160, 65, 248);
    text-align: center;
}
.f4{
    background-color: rgb(205, 152, 255);
    width: 100%;
    height: 100px;
}
